.wp-block-comments {
    .wp-block-group {
        padding-top: var(--wp--preset--spacing--none);
        padding-bottom: var(--wp--preset--spacing--none);
        padding-left: var(--wp--preset--spacing--none);
        padding-right: var(--wp--preset--spacing--none);
    }
    .wp-block-comment-date a,
    .wp-block-comment-edit-link a {
        font-size: var(--wp--preset--font-size--iw-xs);
        color: var(--wp--preset--color--secondary);
    }
    .wp-block-comment-author-name {
        margin-bottom: var(--wp--preset--spacing--iw-extra-small);
    }
    .wp-block-comment-content {
        font-size: var(--wp--preset--font-size--iw-sm);
        margin-top: var(--wp--preset--spacing--iw-extra-small);
        margin-bottom: var(--wp--preset--spacing--iw-extra-small);
    }
}