.wp-block-latest-posts {
    list-style: none;
    padding-left: 0em;
    margin-bottom: 2em;

    li {
        margin-bottom: 1em;
        a {
            text-decoration: none;
            color: var( --wp--preset--color--iw-text );

            &:hover, &:active {
                color: var( --wp--preset--color--button-hover );
            }
        }
    }
}