.wp-block-query-pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    .wp-block-query-pagination-numbers {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.6em;

        a {
            text-decoration: none;
            cursor: pointer;
        }
    }

    .wp-block-query-pagination-next,
    .wp-block-query-pagination-previous {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8em 2em;
        color: var( --wp--preset--color--text );
        line-height: 1;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 5px;
        background-color: var( --wp--preset--color--button );        

        &:hover, &:active {
            background-color: var( --wp--preset--color--button-hover );
        }
    }

    .wp-block-query-pagination-previous {
        .wp-block-query-pagination-previous-arrow {
            margin-right: 0em;
        }
    }

    .wp-block-query-pagination-next {
        .wp-block-query-pagination-next-arrow {
            margin-left: 0em;
        }
    }

    .wp-block-query-pagination-previous {
        .wp-block-query-pagination-previous-arrow {
            margin-right: 0em;
        }
    }
}