.wp-block-read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 2em;
    color: var( --wp--preset--color--text );
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5px;
    background-color: var( --wp--preset--color--button );        

    &:hover, &:active {
        color: var( --wp--preset--color--text );
        background-color: var( --wp--preset--color--button-hover );
    }
}