<!-- wp:template-part {"slug":"header","theme":"indie-writer","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main-content","style":{"spacing":{"padding":{"top":"0px","bottom":"0px","left":"0px","right": "0px"}}}} -->
    <main class="wp-block-group main-content" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;">
        <!-- wp:group {"tagName":"article","className":"post","layout":{"type":"default"}, "style":{"spacing":{"padding":{"top":"0px","bottom":"0px","left":"0px","right": "0px"}}}} -->
        <article class="wp-block-group post" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;"><!-- wp:post-content /--></article>
        <!-- /wp:group -->
    </main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"indie-writer","area":"footer"} /-->